<section>
    <div class="container" style="justify-content: left;padding-top:20px;padding-bottom:20px;background-color: lightblue;">
        <div class="col-md-6" >
            <div class="card p-4 shadow-sm" >
                <form #myform="ngForm" (ngSubmit)="addCourse(myform)">
                    <h4>Add a Course</h4>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" ngModel name="name" id="name" aria-describedby="name"
                            required (click)="changeStatus()">
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <input type="text" class="form-control" ngModel name="department" id="department" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <span>{{addCourseStatus}}</span>
            </div>
        </div>
    </div>
</section>