<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">University - NgRx Store & State Demo</a>
  </div>
  <div class="row" style="width:80%;justify-content: right;padding-right:10px">
    <a routerLink="/" class="btn btn-dark">Add Course</a>
    <a routerLink="/courses" class="btn btn-dark">View Courses</a>
    <a routerLink="/departments" class="btn btn-dark">View Departments</a>
  </div>
</nav>
<router-outlet></router-outlet>